.Dog {
  background-color: lightgray;
  border-radius: 5px;
  color: #000;
  padding: 40px;
  width: 100%;
  max-width: 100%;
}

.Dog-div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.Dog-facts {
  margin-bottom: 30px;
}

.Dog-facts li {
  list-style: none;
  text-align: left;
}
